// /* Activity*/

.activity {
  display: flex;

  .activity__item {
    position: relative;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
  }
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: $third-text-color;
}
