/* Clients List  */

.clients-list {

    margin-bottom: -30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;

    margin-right: -30px;

    &__item{
      flex-basis: calc((100% - 60px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
    }

   @media screen and(min-width:$tablet){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__item {
      flex-basis: calc((100% - 90px) / 3);
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:$desktop) {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  
&__item {
  // width: 170px;
  // height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

&__item:not(:last-child) {
  margin-right: 30px;
}
  }
&__icon {
  fill: currentColor;
}

&__link {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 210px;
  border: 1px solid $link-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  color: $link-color;

  @media screen and (min-width:$tablet) {
    width: 226px;
  }

  @media screen and (min-width:$desktop) {
    width: 170px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
}
