/* Clients List  */

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  color: $link-color;
}
.clients-button:hover,
.clients-button:focus {
  color: $accent-color;
  border-color: $accent-color;
}

.clients-list li:not(:last-child) {
  margin-right: 30px;
}
