/* Clients List  */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__item {
  // width: 170px;
  // height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: currentColor;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid $link-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  color: $link-color;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
