/* Feature list */
.feature-list {
  padding-left: 0;
  margin-top: 0;

  @media screen and(min-width:$tablet){
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }

  @media screen and (min-width:$desktop) { 
  display: flex;
  flex-wrap: nowrap;
  }

 &__item {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

 &__advantages {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-color: $third-bg-color;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  fill: currentColor;
 }

 &__text {
  color: $second-text-color;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

 &__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 10px;
 }
   }
 