/*Team list */
.team-list {
  

  @media screen and (min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }

  @media screen and (min-width:$desktop) {
    display: flex;
  }

//  &__card:not(:last-child) {
//   margin-right: 30px;
  
// }

&__card {
  margin-bottom: 30px;
  width: 100%;
  background: $background-color;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;

 @media screen and (min-width:$tablet) {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}
  
  @media screen and (min-width:$desktop) {
    flex-basis: calc((100% - 120px) / 4);
  }
  }
   }
 

.info-card {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 0px;
  text-align: center;

 &__title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  /* text-align: center; */
}

 &__text {
  color: $second-text-color;
  font-size: 16px;
  line-height: 1.19;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

 &__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-top: 16px;
}

 &__item:not(:last-child) {
  margin-right: 10px;
 }
 &__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  color: $link-color;
  border-radius: 50%;

  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $third-text-color;
    background: $accent-color;
  }
}

 &__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  }
 }