/*title hero */

.hero-title {
  font-size: 26px;
  color: $third-text-color;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.36;
  margin-bottom: 30px;
  
  @media screen and (min-width:$desktop){
  font-size: 44px;
  }
}

/*  title  */
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
