/*Portfolio Gallery */

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);

  &__item {
    background: $background-color;
    box-sizing: border-box;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;

    &:hover,
    &:focus {
      cursor: pointer;
      background: $third-bg-color;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      overflow: hidden;
    }
  }
}

.project-list__card {
  background: $background-color;
  border: 1px solid $border-cards-color;
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timing-function, opacity 250ms $timing-function;

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    overflow: auto;

    color: $third-text-color;
  }
}

.project-list__information {
  padding: 20px 24px;
}

.project-list__title {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.project-list__text {
  font-size: 16px;
  line-height: 30px;
  color: $second-text-color;
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-top: 4px;
}

.project-list__link:hover .card-overlay,
.project-list__link:focus .card-overlay {
  transform: translateY(0);
  opacity: 1;
}

.project-list__link:hover,
.project-list__link:focus {
  background-color: $background-color;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}
