/*Footer*/

.footer {
  background-color: $footer-bg-color;
  padding: 60px 0;
}

.contact-list__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin: 0;
  color: $third-text-color;

  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list-link {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: $footer-color;

  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-parts {
  display: flex;
  align-items: baseline;
}

.main-contacts {
  width: 231px;
}

.social-networks-contacts {
  width: 206px;
  margin-left: 70px;
}

.call {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $third-text-color;
}

.subscribe-form {
  margin-left: 93px;
}

.form-footer {
  display: flex;
}

.third__footer-heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $third-text-color;
}

.subscribe-field {
  display: flex;
}

.subscribe-field__form-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-field__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: $third-text-color;
  background-color: $accent-color;
  box-shadow: $second-box-shadow;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.subscribe-field__form-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  fill: $third-text-color;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.footer-button {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.footer-link {
  display: flex;
  height: 44px;
  width: 44px;
  color: $third-text-color;
  background-color: $footer-link-bg-color;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.footer-link:hover,
.footer-link:focus {
  background-color: $accent-color;
}
