/* Css переменные */
:root {
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --footer-bg-color: #2f303a;
  --footer-color: rgba(255, 255, 255, 0.6);
  --box-shawow: 0px 4px 4px rgb(0 0 0 / 25%);
  --second-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-cards-color: #eeeeee;
}
/* Css переменные */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  color: var(--primary-text-color);
  font-family: var(--main-font);
  background-color: var(--background-color);
}
.hidden {
  display: none;
}

/* Container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Хедер сайта */
.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
/* Навигация сайта  */
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav .logo {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-left: 94px;
}
.nav-list .item + .item {
  margin-left: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
/* Стили для логотипа*/
.logo {
  color: var(--primary-text-color);
  font-family: var(--accent-font);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web-logo {
  color: var(--accent-color);
}
.studio-logo {
  color: var(--third-text-color);
}

/* Стили для ссылок*/

.link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus,
.link-active {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.second-link {
  color: var(--second-text-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.second-link:hover,
.second-link:focus {
  color: var(--accent-color);
}
/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-features {
  padding-top: 0;
}

/*Section Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--second-bg-color);
  text-align: center;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
/*title hero */
.hero-title {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* Feature title  */
.feature-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
/* Стили для кнопок*/
.main-button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--second-box-shadow);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
}
.filter-button {
  color: var(--primary-text-color);
  background-color: var(--third-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid var(--third-bg-color);
  border-radius: 4px;
  height: 38px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.select-button + .select-button {
  margin-left: 8px;
}
/* Стилизация текста */
.persons {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  /* text-align: center; */
}
.job {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}
.filters {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 0.06em;
}
.desc {
  font-size: 16px;
  line-height: 30px;
  color: var(--second-text-color);
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-top: 4px;
}
/* Feature list */
.feature-list {
  display: flex;
}
.feature-list .list + .list {
  margin-left: 30px;
}
.feature-list .text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.feature-list .title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* Activity*/
.activity {
  display: flex;
}
.activity .item + .item {
  margin-left: 30px;
}
/*Team list */
.team {
  display: flex;
}
.team .card + .card {
  margin-left: 30px;
}
.info {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 0px;
  text-align: center;
}
.card {
  background: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shawow);
}

/*gallery  */
.gallery {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.cards {
  background: var(--background-color);
  border: 1px solid var(--border-cards-color);
  box-sizing: border-box;
  margin-right: 27px;
  margin-bottom: 30px;
}
.information {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*footer*/

.footer {
  background-color: var(--footer-bg-color);
  padding: 60px 0;
}
.address-list {
  margin-top: 20px;
}
.adr {
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.adr:hover,
.adr:focus {
  color: var(--accent-color);
}

.adr-link {
  color: var(--footer-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-top: 9px;
}
.adr-link:hover,
.adr-link:focus {
  color: var(--accent-color);
}
