.header {
  // position: fixed;
  // width: 100%;
  // min-height: 80px;
  // top: 0;
  // left: 0;
  // display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
  }
}

// .header .container {
//   display: flex;
//   align-items: center;
// }
