.header {
  /* position: fixed; */
  /* width: 100%; */
  /* min-height: 80px; */
  /* top: 0; */
  /* left: 0; */
  /* display: flex; */
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

/* Навигация сайта  */

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .logo {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 94px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}
