$main-font: Roboto, sans-serif;
$accent-color: #2196f3;
$background-color: #ffffff;
$second-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$primary-text-color: #212121;
$second-text-color: #757575;
$third-text-color: #ffffff;
$link-color: #afb1b8;
$footer-bg-color: #2f303a;
$footer-link-bg-color: #43444d;
$footer-color: rgba(255, 255, 255, 0.6);
$second-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$border-cards-color: #eeeeee;
$border-close-button: rgba(0, 0, 0, 0.1);
$card-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$accent-font: Raleway, sans-serif;

//   Breakpoints 
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;